{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'main/styles/minutes.css' %}">
    <title>Minutes</title>
</head>
<body>
    <div class="header">{% include './components/header.html'%}</div>
<div class="headlinks" >{% include './components/headlinks.html'%}</div>
<p class="minutes">Minutes from Senate meetings</p>
<p class="desc">Description of students senate council</p>
<div class="table-responsive">
<table class="table">
    <thead class="thead" >
      <tr>
        <th scope="col">Minutes No.</th>
        <th scope="col">Subject</th>
        <th scope="col">Format</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody >
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  
  </div>
  <div class="upcomingEvents">
        <p class="upcomingeventsText">Upcoming Events</p>
        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card-wrapper container-sm d-flex  justify-content-around">
                        <div class="card  " style="width: 59vw;">
                            <img src="https://source.unsplash.com/collection/190727/1600x900" style="height:25vw ;"
                                class="card-img-top" alt="...">
                            <div class="card-body" style="padding-top: 100px;">
                                <h5 class="card-title"
                                    style="position:relative ; bottom:2vw;font-size: 16px; font-weight: 100;">Card title
                                </h5>
                                <div class="cardContent" style="display: flex;">
                                    <p class="CardDesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro nihil
                                        dolores eveniet nostrum illum ipsam iusto mollitia nemo quam qui ab, sapiente
                                        molestiae aperiam necessitatibus. Tenetur autem animi saepe architecto.</p>
                                    <a ><img src="{% static 'main/images/Arrow - Right Square.svg' %}" class="image" style="position: relative; top: 5vh;" alt="img"></a>
                                </div>
                              
                            </div>
                        </div>


                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex   justify-content-around">
                        <div class="card  " style="width: 59vw;">
                            <img src="https://source.unsplash.com/collection/190727/1600x900" style="height:25vw ;"
                                class="card-img-top" alt="...">
                            <div class="card-body" style="padding-top: 100px;">
                                <h5 class="card-title"
                                    style="position:relative ; bottom:2vw;font-size: 16px; font-weight: 100;">Card title
                                </h5>
                                <div class="cardContent" style="display: flex;">
                                    <p class="CardDesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro nihil
                                        dolores eveniet nostrum illum ipsam iusto mollitia nemo quam qui ab, sapiente
                                        molestiae aperiam necessitatibus. Tenetur autem animi saepe architecto.</p>
                                    <a ><img src="{% static 'main/images/Arrow - Right Square.svg' %}" class="image" style="position: relative; top: 5vh;" alt="img"></a>
                                </div>
                              
                            </div>
                        </div>

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex  justify-content-around">
                        <div class="card  " style="width: 59vw;">
                            <img src="https://source.unsplash.com/collection/190727/1600x900" style="height:25vw ;"
                                class="card-img-top" alt="...">
                            <div class="card-body" style="padding-top: 100px;">
                                <h5 class="card-title"
                                    style="position:relative ; bottom:2vw;font-size: 16px; font-weight: 100;">Card title
                                </h5>
                                <div class="cardContent" style="display: flex;">
                                    <p class="CardDesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro nihil
                                        dolores eveniet nostrum illum ipsam iusto mollitia nemo quam qui ab, sapiente
                                        molestiae aperiam necessitatibus. Tenetur autem animi saepe architecto.</p>
                                    <a ><img src="{% static 'main/images/Arrow - Right Square.svg' %}" class="image" style="position: relative; top: 5vh;" alt="img"></a>
                                </div>
                              
                            </div>
                        </div>

                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
  {% include './components/footer.html'%}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
        </script>
</body>
</html>